{% extends "shop/base.html" %}
{% block content %}
    <div>
        {% if user.is_authenticated %}
        You are already logged in ! 
        {% else %}
        <div class=mt--3></div>
        <div id="alert-box"></div>
        <form id="u-form" method="POST">
            {% csrf_token %}
            <fieldset>
                <legend>Join Today</legend>
                {{ form.as_p }}
            </fieldset>
            <br>
            <div>
                <button class="signup-button" type="submit">Sign Up</button> 
            </div>
        </form>
        {% endif %}
    </div>
{% endblock %}
