{% extends "shop/base.html" %}

{% block content %}
    <div class="main">
        {% for book in books %}

        <div class="container">
            <div style="margin: 0% 17%; font-size: 11px; min-width: 200px;  height: 350px; filter: drop-shadow(0 0 10px #333); background-color: rgb(255, 255, 255); border-radius: 5px; border: 0px;">
                <img style="height: 220px; width: 140px; margin-top: 15px; border-radius: 1px; border: 1px solid black;" src="{{ book.image.url }}" alt="Generic placeholder image" width="140" height="140">
                <p style="font-family: 'Courier New', Courier, monospace; font-size: x-large;">₹{{ book.price }}</p>
                <!-- <br> -->
                <h2><a style="color:  black; text-decoration: none; margin-top: 20px;" href="{{ book.id }}">{{ book.name | truncatechars:30}}</a></h2>
                <a style="color:  black; text-decoration: none; margin-top: 20px;" href="#">{% for author in book.authors.all %}{{ author }} | {% endfor %}  </a>
            </div>
        </div>

        <!-- <div class="container"> Book1 </div> -->
        {% endfor %} 

        {% for book in books %}

        <div class="container">
            <div style="margin: 0% 17%; font-size: 11px; min-width: 200px;  height: 350px; filter: drop-shadow(0 0 10px #333); background-color: rgb(255, 255, 255); border-radius: 5px; border: 0px;">
                <img style="height: 220px; width: 140px; margin-top: 15px; border-radius: 1px; border: 1px solid black;" src="{{ book.image.url }}" alt="Generic placeholder image" width="140" height="140">
                <p style="font-family: 'Courier New', Courier, monospace; font-size: x-large;">₹{{ book.price }}</p>
                <!-- <br> -->
                <h2><a style="color:  black; text-decoration: none; margin-top: 20px;" href="{{ book.id }}">{{ book.name | truncatechars:30}}</a></h2>
                <a style="color:  black; text-decoration: none; margin-top: 20px;" href="#">{% for author in book.authors.all %}{{ author }} | {% endfor %}  </a>
            </div>
        </div>

        <!-- <div class="container"> Book1 </div> -->
        {% endfor %} 
        {% for book in books %}

        <div class="container">
            <div style="margin: 0% 17%; font-size: 11px; min-width: 200px;  height: 350px; filter: drop-shadow(0 0 10px #333); background-color: rgb(255, 255, 255); border-radius: 5px; border: 0px;">
                <img style="height: 220px; width: 140px; margin-top: 15px; border-radius: 1px; border: 1px solid black;" src="{{ book.image.url }}" alt="Generic placeholder image" width="140" height="140">
                <p style="font-family: 'Courier New', Courier, monospace; font-size: x-large;">₹{{ book.price }}</p>
                <!-- <br> -->
                <h2><a style="color:  black; text-decoration: none; margin-top: 20px;" href="{{ book.id }}">{{ book.name | truncatechars:30}}</a></h2>
                <a style="color:  black; text-decoration: none; margin-top: 20px;" href="#">{% for author in book.authors.all %}{{ author }} | {% endfor %}  </a>
            </div>
        </div>

        <!-- <div class="container"> Book1 </div> -->
        {% endfor %} 
        {% for book in books %}

        <div class="container">
            <div style="margin: 0% 17%; font-size: 11px; min-width: 200px;  height: 350px; filter: drop-shadow(0 0 10px #333); background-color: rgb(255, 255, 255); border-radius: 5px; border: 0px;">
                <img style="height: 220px; width: 140px; margin-top: 15px; border-radius: 1px; border: 1px solid black;" src="{{ book.image.url }}" alt="Generic placeholder image" width="140" height="140">
                <p style="font-family: 'Courier New', Courier, monospace; font-size: x-large;">₹{{ book.price }}</p>
                <!-- <br> -->
                <h2><a style="color:  black; text-decoration: none; margin-top: 20px;" href="{{ book.id }}">{{ book.name | truncatechars:30}}</a></h2>
                <a style="color:  black; text-decoration: none; margin-top: 20px;" href="#">{% for author in book.authors.all %}{{ author }} | {% endfor %}  </a>
            </div>
        </div>

        <!-- <div class="container"> Book1 </div> -->
        {% endfor %} 
        {% for book in books %}

        <div class="container">
            <div style="margin: 0% 17%; font-size: 11px; min-width: 200px;  height: 350px; filter: drop-shadow(0 0 10px #333); background-color: rgb(255, 255, 255); border-radius: 5px; border: 0px;">
                <img style="height: 220px; width: 140px; margin-top: 15px; border-radius: 1px; border: 1px solid black;" src="{{ book.image.url }}" alt="Generic placeholder image" width="140" height="140">
                <p style="font-family: 'Courier New', Courier, monospace; font-size: x-large;">₹{{ book.price }}</p>
                <!-- <br> -->
                <h2><a style="color:  black; text-decoration: none; margin-top: 20px;" href="{{ book.id }}">{{ book.name | truncatechars:30}}</a></h2>
                <a style="color:  black; text-decoration: none; margin-top: 20px;" href="#">{% for author in book.authors.all %}{{ author }} | {% endfor %}  </a>
            </div>
        </div>

        <!-- <div class="container"> Book1 </div> -->
        {% endfor %} 
        {% for book in books %}

        <div class="container">
            <div style="margin: 0% 17%; font-size: 11px; min-width: 200px;  height: 350px; filter: drop-shadow(0 0 10px #333); background-color: rgb(255, 255, 255); border-radius: 5px; border: 0px;">
                <img style="height: 220px; width: 140px; margin-top: 15px; border-radius: 1px; border: 1px solid black;" src="{{ book.image.url }}" alt="Generic placeholder image" width="140" height="140">
                <p style="font-family: 'Courier New', Courier, monospace; font-size: x-large;">₹{{ book.price }}</p>
                <!-- <br> -->
                <h2><a style="color:  black; text-decoration: none; margin-top: 20px;" href="{{ book.id }}">{{ book.name | truncatechars:30}}</a></h2>
                <a style="color:  black; text-decoration: none; margin-top: 20px;" href="#">{% for author in book.authors.all %}{{ author }} | {% endfor %}  </a>
            </div>
        </div>

        <!-- <div class="container"> Book1 </div> -->
        {% endfor %} 
    </div>

{% endblock %}
