{% extends "shop/base.html" %}

{% block content %}
    {% for book in books %}
    <div class="containersomething">
        <br>
        <div>
            <img class="img-circle" src={{ book.image.url }} alt="Generic placeholder image" width="140" height="140">
        </div>
        <div class="media-body" style="border-left: 5px;">
                <h1>{{ book.price }}</h1>
                <h2><a class="article-title" href="{{ book.id }}">{{ book.name }}</a></h2>
        <div class="article-metadata">
            <a class="mr-2" href="#">{% for author in book.authors.all %}{{ author }}{% endfor %} | </a>
            <small class="text-muted">{{ book.pubdate|date:"F d, Y" }}</small>
        </div>
        <p class="article-content">{{ book.desc }}</p>
        </div>
        <br>
    </div>
    {% endfor %}
{% endblock %}
